@keyframes gradient-background {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -500% 50%;
  }
}

.moving-gradient {
  position: relative;
  overflow: hidden;
}

.moving-gradient::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  transform: rotate(45deg);
  background: linear-gradient(
    270deg,
    #7b2ff7,
    #f1076f,
    #7b2ff7,
    #f1076f,
    #7b2ff7
  );
  background-size: 500%;
  animation: gradient-background 180s ease-in-out infinite;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.add-post-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  z-index: 10000;
  width: 80%;
  max-width: 500px;
}
