@keyframes gradient-background {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -500% 50%;
  }
}

.moving-gradient {
  position: relative;
  overflow: hidden;
}

.moving-gradient::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  transform: rotate(45deg);
  background: linear-gradient(
    270deg,
    #7b2ff7,
    #f1076f,
    #7b2ff7,
    #f1076f,
    #7b2ff7
  );
  background-size: 500%;
  animation: gradient-background 180s ease-in-out infinite;
}
